* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 380px;
    height: 600px;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#app::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

.status-badge {
    width: 18px;
    height: 18px;
    overflow: hidden;
}

.pricing-card {
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
}

.pricing-btn {
    margin: 5px 15px 15px;
}

.free {
    background-color: #f8f9fa;
}

.pro {
    background-color: #702cf962;
    color: #fff;
}