<!-- popup.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VU Empire Genie</title>
  <link rel="stylesheet" href="../assets/css/theme.css">
  <link rel="stylesheet" href="../assets/css/toogle.css">
  <link rel="stylesheet" href="../assets/css/loader.css">
  <link rel="stylesheet" href="../assets/css/placeholder.css">
  <link rel="stylesheet" href="../assets/css/popup.css">
  <link rel="stylesheet" href="../assets/css/alert.css">
</head>

<body class="bg-dark">
  <div class="bg-secondary position-sticky top-0 text-center z-index-2 p-2">
    <div class="d-flex justify-content-between align-center position-relative">
      <div class="d-flex">
        <img alt="VU Empire Genie Logo" src="../assets/icons/icon.png" width="45" height="45">
        <div class="d-flex flex-column align-start ms-2">
          <h1 class="mb-0">
            <span class="fs-1">
              VU Empire Genie
            </span>
          </h1>
        </div>
      </div>
      <div id="nav-auth-section" class="position-absolute right-0 top-1">
        <!-- Authentication Action Buttons Section -->
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-center position-relative p-2">
    <div class="d-flex align-center">
      <img id="student-profile-image" alt="Student Profile" class="rounded-circle" width="45" height="45">
      <div class="d-flex flex-column align-start ms-2">
        <h2 class="mb-0">
          <span id="student-name" class="fs-3"></span>
        </h2>
        <div class="tagline text-muted">
          <span id="student-id" class="fs-3"></span>
        </div>
      </div>
    </div>
    <div id="current-plan-section" class="navbar">
      <!-- Current Plan Section -->
      <span class="nav-link text-white">Free</span>
    </div>
  </div>

  <main class="main">
    <div class="container" id="app-view">
      <!-- UI Framework will render pages here -->
    </div>
    <footer class="mt-5 mb-4">
        <ul class="navbar d-flex py-2 container bg-primary-subtle">
          <div class="col-4 text-center">
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="faq">FAQ</button>
            </li>
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="about">About</button>
            </li>
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="support">Support</button>
            </li>
          </div>
          <div class="col-4 text-center">
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="updates">Updates</button>
            </li>
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="feedback">Feedback</button>
            </li>
          </div>
          <div class="col-4 text-center">
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="terms">Terms</button>
            </li>
            <li>
              <button class="nav-link border-0 bg-transparent outline-0 text-white" data-route="privacy">Privacy</button>
            </li>
          </div>
        </ul>
        <div class="fs-5 text-center text-muted pb-4 pt-1 mb-5">
          Powered by VU Empire • Made with ❤️ for VU Students
        </div>
    </footer>
  </main>

  <!-- Footer -->
  <nav class="bg-secondary position-fixed bottom-0 text-muted z-index-2 w-100 p-2">
    <ul class="navbar d-flex align-center justify-content-between">
      <li>
        <button class="nav-link border-0  fs-2 bg-transparent outline-0 d-flex align-center justify-content-center" data-route="home">
          <img src="../assets/svg/house.svg" alt="home icon" width="18px">
          <span class="ms-1">Home</span>
        </button>
      </li>
      <li>
        <button class="nav-link border-0  fs-2 bg-transparent outline-0 d-flex align-center justify-content-center" data-route="settings">
          <img src="../assets/svg/gear.svg" alt="settings icon" width="18px">
          <span class="ms-1">Settings</span>
        </button>
      </li>
      <li>
        <button class="nav-link border-0  fs-2 bg-transparent outline-0 d-flex align-center justify-content-center" data-route="pricing">
          <img src="../assets/svg/tag.svg" alt="pricing icon" width="18px">
          <span class="ms-1">Pricing</span>
        </button>
      </li>
      <li>
        <button class="nav-link border-0  fs-2 bg-transparent outline-0 d-flex align-center justify-content-center"
          data-route="history">
          <img src="../assets/svg/history.svg" alt="history icon" width="18px">
          <span class="ms-1">History</span>
        </button>
      </li>
    </ul>
  </nav>

  <div class="alert-container top-right" id="alertContainer"></div>

  <script src="js/AlertManager.js"></script>
  <script src="js/LoaderManager.js"></script>
  <script type="module" src="js/appView.js"></script>
  <script type="module" src="../ui/core/app.js"></script>
</body>

</html>